
CleanApp/.vs/CleanApp/xs/project-cache/CleanApp-Debug.json
CleanApp/.vs/CleanApp/xs/project-cache/CleanApp.Core-Debug.json
CleanApp/.vs/CleanApp/xs/sqlite3/db.lock
CleanApp/.vs/CleanApp/xs/sqlite3/storage.ide
CleanApp/.vs/CleanApp/xs/UserPrefs.xml
